/* FONTS */

@font-face {
    font-family: 'Sora';
    font-weight: 300;
    src: url("./fonts/sora/Sora-Light.ttf");
}

@font-face {
    font-family: 'Sora';
    font-weight: 400;
    src: url("./fonts/sora/Sora-Regular.ttf");
}

@font-face {
    font-family: 'Sora';
    font-weight: 600;
    src: url("./fonts/sora/Sora-SemiBold.ttf");
}

@font-face {
    font-family: 'Magistral';
    font-weight: 700;
    src: url("./fonts/magistral/Magistral-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Magistral';
    font-weight: 900;
    src: url("./fonts/magistral/Magistral-Black.otf") format("opentype");
}

/* BODY TEXT */
body {
    font-family: Open Sans, sans-serif;
    /*Fallback*/
}

body {
    font-family: Sora;
    color: #333333;
}

small {
    font-size: 0.55rem;
}

/* Borders for testing */
.borderbox {
    border: 1px solid blue
}

/* Headings */

p,
.btn,
li {
    font-size: 0.95rem;
}

h1,
h2 {
    font-family: Magistral;
}

h1 {
    margin-top: 5.5vh;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    margin-left: -2px;
    margin-right: -2px;
    /* standard purple */
    color: #352D58;
    text-wrap: pretty;
}

h2 {
    font-size: 1.8rem;
    margin-top: 4vh;
    margin-bottom: 0.5rem;
    margin-left: -1px;
    margin-right: -1px;
    /* standard purple */
    color: #352D58;
    text-wrap: pretty;
}

h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.5rem;
    /* standard purple */
    color: #352D58
}

h4 {
    font-size: 1rem;
    color: red;
    font-family: Sora;
    font-weight: bold;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    text-wrap: balance;

    margin-top: 1.8em;
    margin-bottom: 0.8rem;
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
}

/* Images */
figure {
    margin-top: 1rem;
}

.minimargin {
    margin: 0.3rem
}

figcaption {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.carousel-item img {
    width: 100%;
    height: 21rem;
    object-fit: cover;
}

@media (max-width: 767px) {
    .carousel-item img {
        width: 95%;
        height: 21rem;
    }
}

/* When screen size is 600px or smaller */
@media (max-width: 767px) {
    .img-fluid {
        max-width: 80%;
    }
}


/* Page header bars  */

.title-image-flexbox,
.header-image-flexbox {
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    min-height: 16rem;
    display: flex;
    /* border: 2px solid black; */
}

@media (max-height: 600px) {
    .header-image-flexbox {
        min-height: 10rem
    }
}

.header-image-flexbox {
    flex-direction: column;
    justify-content: end;
}

.white-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-textbox {
    position: relative;
    z-index: 2;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    /* border: 2px solid red; */
}

.header-textbox h1 {
    color: white;
}

.title-box-outer {
    width: 80%;
}

.title-textbox {
    position: relative;
    z-index: 2;
    padding: 0rem;
    margin-block: 1rem;
}

/* Front page logo */

.title-logo {
    width: 600px;
    padding-left: 3%;
}

@media (max-width: 800px) {
    .title-logo {
        width: 95%;
    }
}

/* Flexboxes */

.centred-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Containers */

.container-sm {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px
}

.image-rounded {
    border-radius: 5px;
}

/* Flexbox */

.text-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Create 2 equal-width columns */
    column-gap: 40px;
}


/* .image-container img {
    max-width: 100%;
    border: none;
    padding: 0;
    margin: 0;
} */

@media (max-width: 576px) {
    .text-flexbox {
        grid-template-columns: 1fr
    }

    .img-fluid {
        max-width: 95%;
    }
}

/* button flexbox */

.stack-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Anchors */

a {
    text-decoration: none;
    /* dark purple */
    color: #272040;
}

a i {
    vertical-align: -2;
}

.bi {
    font-size: 24px;
}

/* Buttons */

.custom-btn,
.custom-btn-light {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.custom-btn {
    /* bright purple */
    background-color: #3F3669;
    color: white;
    border: none;
    font-weight: bold
}

.custom-btn:hover {
    /* dark purple */
    background-color: #272040;
    color: white;
}

.custom-btn-light {
    /* bright purple */
    border: 1px solid #3F3669;
    /* bright purple */
    color: #3F3669;
}

.custom-btn-light:hover {
    /* bright purple */
    background-color: #3F3669;
    /* bright purple */
    border: 1px solid #3F3669;
    color: white;
}

.underline-text,
.underline-text-light,
.underline-btn,
.underline-btn-light {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1.5px;
    text-decoration-thickness: 0.5px;
}

.underline-text {
    color: #3F3669;
    /* bright purple */
}

/* Hover on underline text / buttons should be thicker underline */
.underline-text:hover,
.underline-text-light:hover,
.underline-btn:hover,
.underline-btn-light:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
}

/* Light button/text should be light */
.underline-text-light,
.underline-btn-light {
    /* light purple */
    color: #dedbf5;
}

.custom-title {
    font-family: Magistral;
    /* standard purple */
    color: #352D58;
    font-size: 1.2em;
    margin-top: 6.5em;
}

/* Navbar */
.navbar-custom {
    background-color: white;
}

.navbar-btn {
    /* bright purple */
    background-color: #3F3669;
    color: white;
    border: none;
    /* font-size: 0.9rem; */
    /* border: solid yellow 1.5pt; */
}

.navbar-btn:hover {
    background-color: #3B8C41;
    color: white
}

@media (max-width: 767px) {
    .navbar-btn {
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;
    }
}

.nav-link {
    /* dark purple */
    color: #272040;
    /* border: solid red 1pt; */

}

.navbar-custom .nav-link.active,
.navbar-custom .nav-link.active:hover {
    /* dark purple */
    color: #272040;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    text-align: right;
    flex-direction: column;
    margin-right: 1em;
    /* border: solid orange 1pt; */
}

.navbar-custom .nav-link:hover {
    color: #3B8C41;
}

.navbar-custom .navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: auto;
    /* border: solid blue 1pt; */
}

.navbar-toggler-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath stroke='%23352D58' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* transition: all 0.3s ease-in-out; */
    /* border: solid green 1pt; */

}

.navbar-toggler-custom.open .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath stroke='%23352D58' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M6 6L26 26M26 6L6 26'/%3E%3C/svg%3E");
}


/* Footer */
#page-container {
    position: relative;
    min-height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/* Social media box */

/* .socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: 2px solid black;
} */

.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 3vh;
    margin-bottom: 6vh;
    flex-wrap: wrap;
    max-width: 80%;
}

@media(max-width:260px) {
    .icon-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.icon-travel {
    width: 30px;
    margin-right: 6px;
    margin-left: -3px
}

.icon-circle {
    max-width: 40px;
    height: auto;
}


.custom-footer {
    /* standard purple */
    background-color: #352D58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}

.footer-heading {
    color: white;
    margin-top: 6vh
}

.footer-body {
    text-wrap: pretty;
    color: white;
}

/* CUT BELOW */

.socials-box-outer {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0px;
    /* border: 2px solid blue; */
}

.socials-box-item {
    height: 90%;
    width: 93px;
    text-align: center;
    /* border: 2px solid red; */
}

/* CUT ABOVE */



/* Committee box */

.committee-box-outer {
    display: flex;
    justify-content: center;
    /* border: 2px solid blue; */
}

.committee {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 98%;
    /* border: 3px solid green; */
    column-gap: 2rem;
    row-gap: 3rem;
    position: relative;
}

.committee-item {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    align-items: center;
    /* border: 2px solid red; */
    width: 30%;
    gap: 0.5rem;
}

.committee-image {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    /* margin-bottom: 0.5rem; */
    border-radius: 50%
}

.committee-name {
    text-align: center;
    font-size: 0.9rem;
    /* border: 2px solid orange; */
}

.committee-text {
    text-align: center;
    font-size: 0.8rem;
    /* border: 2px solid yellow; */
}

@media(max-width:908px) {
    .committee-item {
        width: 45%
    }
}

@media(max-width:620px) {
    .committee-item {
        width: 65%;
    }

    .committee {
        row-gap: 2.5rem;
    }
}

/* Keynote speakers main page*/

.speakers-box-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid blue; */
    row-gap: 3vw;
    column-gap: 3vw;
}

.speakers-item {
    position: relative;
    width: 400px;
    height: 325px;
    
}

.speakers-image {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top:20px;
}

.speakers-textbox {
    display: flex;
    margin-top: 1rem;
    row-gap: 0;
    flex-direction: column
}

.speakers-name,
.speakers-position,
.speakers-uni,
.speakers-country {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.speakers-name {
    margin-bottom: 3px;
}

.speakers-position {
    font-weight: normal;
    font-size: 0.8rem;
    font-style: italic;
}

.speakers-uni {
    margin-top: 10px;
    font-size: 0.8rem;
    margin-bottom: 2px;
    /* color: green; */
}

.speakers-country {
    font-size: 0.75rem;
    font-weight: normal;
    /* color: blue; */
}

.speakers-text {
    text-align: left;
    color: #333333;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 1rem;
    text-wrap: pretty;
    /* border: 2px solid yellow; */
}


.speakers-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: white;
    /* dark purple */
    border: 2px solid #272040;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.speakers-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    background: #ffffff;
    /* dark purple */
    color: #272040;
    text-align: center;
    border-radius: 10px;
    /* dark purple */
    border: 2px solid #272040;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.speakers-item:hover .speakers-card-front {
    opacity: 0;
}

.speakers-item:hover .speakers-card-back {
    opacity: 1;
}



/* @media(max-width:908px) {
    .speakers-box-outer {
        flex-direction: column;
    }

    .speakers-item {
        width: 100%
    }
} */

/*
@media(max-width:620px) {
    .speakers-item {
        width: 65%;
    }

    .speakers {
        row-gap: 2.5rem;
    } 
}*/


/* Keynote speakers detail page */
.speakers-detail-box-outer {
    display: flex;
    justify-content: left;
    /* border: 2px solid blue; */
    gap: 2rem;
}

.speakers-detail-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    /* border: 2px solid red; */
    gap: 1rem;
    width: 50%
}

.speakers-detail-image {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 50%;
}

.speakers-detail-textbox {
    display: flex;
    margin-top: 1rem;
    /* border:2px solid grey; */
    gap: 0.5rem;
    flex-direction: column
}

.speakers-detail-name {
    text-align: left;
    font-size: 0.9rem;
    /* border: 2px solid orange; */
}

.speakers-detail-text {
    text-align: left;
    font-size: 0.8rem;
    /* border: 2px solid yellow; */
}

@media(max-width:908px) {
    .speakers-detail-box-outer {
        flex-direction: column;
    }

    .speakers-detail-item {
        width: 100%
    }
}

/* Sponsors box */

.sponsors-container-borders {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid black; */
    row-gap: 1rem
}

.sponsors-box-outer-borders {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 3em;
    row-gap: 1em;
    width: 80%;
    /* border: 2px solid blue; */
}

.sponsors-box-item-borders {
    justify-content: center;
    /* standard purple */
    border: 2px solid #352D58;
    border-radius: 10px;
    max-width: 100%
}

.rounded {
    border-radius: 10px
}

.sponsors-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    /* border: 2px solid black; */
}

.sponsors-box {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    /* border: 2px solid green; */
}

.sponsors-box-item {
    justify-content: center;
    /* border: 2px solid red; */
}

.rounded {
    border-radius: 10px
}

.sponsorlogo {
    width: auto;
    max-width: 100%;
}

.tier1 .sponsorlogo {
    max-height: 13.2rem;
}

.tier2 .sponsorlogo {
    max-height: 9rem;
}

.tier3 .sponsorlogo {
    max-height: 6.5rem;

}

.tier4 .sponsorlogo {
    max-height: 4rem;
}

.sponsorlogo-4 {
    max-height: 4rem;
}


@media (max-width: 700px) {
    .sponsors-box {
        width: 85%;
    }

    /* .tier2 .sponsorlogo {
        max-width: 90%
    }

    .tier3 .sponsorlogo {
        max-width: 80%
    }

    .tier4 .sponsorlogo{
        max-width: 80%
    } */
}


/* Timeline */

.timeline-flexbox {
    display: flex;
    justify-content: center;
    /* border: 2px solid blue; */
}

.timeline {
    display: flex;
    flex-direction: column;
    width: 95%;
    /* border: 3px solid green; */
    gap: 1rem;
    position: relative;
}

.timeline-item {
    display: flex;
    /* border: 2px solid red; */
    gap: 60px;
    position: relative;
    align-items: top;
}

.timeline-date {
    width: 200px;
    text-align: right;
    /* border: 2px solid orange; */
}

.timeline-text {
    width: 60%;
    /* border: 2px solid yellow; */
}

.timeline-line,
.timeline-line-dashed {
    position: absolute;
    left: 228px;
    transform: translate(-50%);
    width: 2.8px;
    height: 100%;
    /* dark purple */
    background-color: #352d58;
    z-index: 1;
}

.timeline-line-dashed {
    bottom: 0px;
    height: 20%;
    /* dark purple */
    background-color: white;
    border-style: dashed
}

.timeline-circle {
    position: absolute;
    left: 228px;
    transform: translate(-50%);
    margin-top: 4px;
    width: 14px;
    height: 14px;
    /* dark purple */
    background-color: white;
    border: solid 2.8px #352d58;
    border-radius: 50%;
    z-index: 2;
}

@media (max-width: 767px) {
    .timeline {
        gap: 1.5rem
    }

    .timeline-item {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem
    }

    .timeline-date {
        margin-left: 50px;
        text-align: left;
    }

    .timeline-text {
        margin-left: 50px;
        width: 85%
    }

    .timeline-line,
    .timeline-line-dashed {
        left: 23px;
        transform: translate(-50%);
    }

    .timeline-circle {
        left: 23px;
        transform: translate(-50%);
    }
}