/* FONTS */

@font-face {
    font-family: 'Sora';
    font-weight: 300;
    src: url("./fonts/sora/Sora-Light.ttf");
}

@font-face {
    font-family: 'Sora';
    font-weight: 400;
    src: url("./fonts/sora/Sora-Regular.ttf");
}

@font-face {
    font-family: 'Sora';
    font-weight: 600;
    src: url("./fonts/sora/Sora-SemiBold.ttf");
}

@font-face {
    font-family: 'Magistral';
    font-weight: 700;
    src: url("./fonts/magistral/Magistral-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Magistral';
    font-weight: 900;
    src: url("./fonts/magistral/Magistral-Black.otf") format("opentype");
}

/* BODY TEXT */
body {
    font-family: Open Sans, sans-serif;
    /*Fallback*/
}

body {
    font-family: Sora;
    color: #333333;
}

small {
    font-size: 0.55rem;
}

/* Borders for testing */
.borderbox {
    border: 1px solid blue
}

/* Headings */

p,
.btn,
li {
    font-size: 0.95rem;
    text-wrap: pretty;
}

h1,
h2 {
    font-family: Magistral;
}

h1 {
    margin-top: min(12vh, 4rem);
    font-size: clamp(2rem, 5vw, 2.2rem);
    margin-bottom: 0.5rem;
    margin-left: -2px;
    margin-right: -2px;
    color: #352D58;
    text-wrap: pretty;
}

h2 {
    font-size: 1.8rem;
    margin-top: 4vh;
    margin-bottom: 0.5rem;
    margin-left: -1px;
    margin-right: -1px;
    color: #352D58;
    text-wrap: pretty;
}

h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.5rem;
    text-wrap: pretty;
    color: #352D58;
}

h4 {
    font-size: 1rem;
    color: red;
    font-family: Sora;
    font-weight: bold;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    text-wrap: balance;
    margin-top: 1.8em;
    margin-bottom: 0.8rem;
}

/* Images */
figure {
    margin-top: 1rem;
}

.minimargin {
    margin: 0.3rem
}

figcaption {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.carousel-item img {
    width: 100%;
    height: 21rem;
    object-fit: cover;
}

@media (max-width: 767px) {
    .carousel-item img {
        width: 95%;
        height: 21rem;
    }
}

/* When screen size is 600px or smaller */
@media (max-width: 767px) {
    .img-fluid {
        max-width: 80%;
    }

}

/* Page header bars  */

.title-image-flexbox,
.header-image-flexbox {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-image-flexbox {
    height: auto;
    background-size: cover;
    /* border: solid orange 2px */
}

.white-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* border: 2px solid yellow; */
    background-color: rgba(0, 0, 0, 0.5);
}

.title-box-outer {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* height: 35rem; */
    height: min(36rem, 95vw);
    min-height: 30rem;
}

.title-logo {
    width: min(100%, 650px);
    padding-left: 3%;
    margin-top: -2%;
    /* border: solid red 2px */
}

.title-textbox {
    position: relative;
    /* border: 2px solid green; */
}

.header-textbox h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
    /* border: 1px solid blue; */
    margin: 0
}

/* Page headers */
.header-textbox {
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.header-image-flexbox {
    background-size: cover;
    min-height: auto;
    height: min(250px, 35vh);
}


@media (max-width:767px) {
    .header-textbox h1 {
        font-size: min(3rem, 10vw);
        /* border:1px solid red; */
    }
}

/* Flexboxes */

.centred-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Containers */

.container-sm {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px
}

.image-rounded {
    border-radius: 5px;
}

/* Flexbox */

.text-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Create 2 equal-width columns */
    column-gap: 40px;
}

@media (max-width: 576px) {
    .text-flexbox {
        grid-template-columns: 1fr
    }

    .img-fluid {
        max-width: 95%;
    }
}

/* button flexbox */

.stack-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Anchors */

a {
    text-decoration: none;
    /* dark purple */
    color: #272040;
}

a i {
    vertical-align: -2;
}

.bi {
    font-size: 24px;
}

/* Buttons */

.custom-btn,
.custom-btn-light {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.custom-btn {
    /* bright purple */
    background-color: #3F3669;
    color: white;
    border: none;
    font-weight: bold
}

.custom-btn:hover {
    /* dark purple */
    background-color: #272040;
    color: white;
}

.custom-btn-light {
    /* bright purple */
    border: 1px solid #3F3669;
    /* bright purple */
    color: #3F3669;
}

.custom-btn-light:hover {
    /* bright purple */
    background-color: #3F3669;
    /* bright purple */
    border: 1px solid #3F3669;
    color: white;
}

.underline-text,
.underline-text-light,
.underline-btn,
.underline-btn-light {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1.5px;
    text-decoration-thickness: 0.5px;
}

.underline-text {
    color: #3F3669;
    /* bright purple */
}

/* Hover on underline text / buttons should be thicker underline */
.underline-text:hover,
.underline-text-light:hover,
.underline-btn:hover,
.underline-btn-light:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
}

/* Light button/text should be light */
.underline-text-light,
.underline-btn-light {
    /* light purple */
    color: #dedbf5;
}

.custom-title {
    font-family: Magistral;
    /* standard purple */
    color: #352D58;
    font-size: 1.2em;
    margin-top: 6.5em;
}

/* Navbar */
.navbar-custom {
    background-color: white;
}

.navbar-btn {
    /* bright purple */
    background-color: #3F3669;
    color: white;
    border: none;
    /* font-size: 0.9rem; */
    /* border: solid yellow 1.5pt; */
}

.navbar-btn:hover {
    background-color: #3B8C41;
    color: white
}

@media (max-width: 767px) {
    .navbar-btn {
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;
    }
}

.nav-link {
    /* dark purple */
    color: #272040;
    /* border: solid red 1pt; */

}

.navbar-custom .nav-link.active,
.navbar-custom .nav-link.active:hover {
    /* dark purple */
    color: #272040;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    text-align: right;
    flex-direction: column;
    margin-right: 1em;
    /* border: solid orange 1pt; */
}

.navbar-custom .nav-link:hover {
    color: #3B8C41;
}

.navbar-custom .navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: auto;
    /* border: solid blue 1pt; */
}

.navbar-toggler-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath stroke='%23352D58' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* transition: all 0.3s ease-in-out; */
    /* border: solid green 1pt; */

}

.navbar-toggler-custom.open .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath stroke='%23352D58' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M6 6L26 26M26 6L6 26'/%3E%3C/svg%3E");
}


/* Footer */
#page-container {
    position: relative;
    min-height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

/* Social media box */

/* .socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: 2px solid black;
} */

.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 3vh;
    margin-bottom: 6vh;
    flex-wrap: wrap;
    max-width: 80%;
}

@media(max-width:260px) {
    .icon-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.icon-travel {
    width: 30px;
    margin-right: 6px;
    margin-left: -3px
}

.icon-circle {
    max-width: 40px;
    height: auto;
}


.custom-footer {
    /* standard purple */
    background-color: #352D58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}

.footer-heading {
    color: white;
    margin-top: 6vh
}

.footer-body {
    text-wrap: pretty;
    color: white;
}

/* CUT BELOW */

.socials-box-outer {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0px;
    /* border: 2px solid blue; */
}

.socials-box-item {
    height: 90%;
    width: 93px;
    text-align: center;
    /* border: 2px solid red; */
}

/* Profiles */
.profile-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.profile-box {
    display: flex;
    flex-flow: row wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    position: relative;
    justify-content: center;
    /* border: 2px solid orange; */
}

.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    /* border: 2px solid blue; */
}

.profile-image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
    /* border: 2px solid red; */
}

.profile-subtitle {
    text-align: center;
    font-size: 0.85rem;
    font-style: italic;
    text-wrap: balance;
    margin-bottom: 12px;
    /* border: 2px solid yellow; */
}

.profile-bio {
    font-size: 0.85rem;
    text-wrap: pretty;
    /* border: 2px solid red */
}

/* Keynote speaker specific settings*/
.keynote .profile-item {
    width: calc(50% - 10px);
}

.keynote-website {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 5px;
}

@media(max-width:690px) {
    .keynote .profile-box {
        width: 95%;
        row-gap: 2.5rem
    }

    .keynote .profile-item {
        width: 100%;
    }
}

/* Committee specific settings*/
.committee .profile-item {
    min-width: 250px;
    width: 32%;
}

.committee .profile-bio {
    text-align: center
}

@media(max-width:908px) {
    .committee .profile-item {
        width: 45%
    }
}

@media(max-width:600px) {
    .committee .profile-box {
        row-gap: 2.5rem;
    }

    .committee .profile-item {
        width: 90%;
    }
}

/* Sponsors box */

.sponsors-container-borders {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem
        /* border: 2px solid black; */
}

.sponsors-box-outer-borders {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 3em;
    row-gap: 1em;
    width: 80%;
    /* border: 2px solid blue; */
}

.sponsors-box-item-borders {
    justify-content: center;
    /* standard purple */
    border: 2px solid #352D58;
    border-radius: 10px;
    max-width: 100%
}

.rounded {
    border-radius: 10px
}

.sponsors-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
    margin-top: 24px;
    margin-bottom: 50px;
    /* border: 2px solid black; */
}

.sponsors-box {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    column-gap: 4rem;
    row-gap: 2rem;
    /* border: 2px solid green; */
}

.sponsors-box-item {
    justify-content: center;
    /* border: 2px solid red; */
}

.rounded {
    border-radius: 10px
}

.sponsorlogo {
    width: auto;
    max-width: 100%;
}

.tier1 .sponsorlogo {
    max-height: 10rem;
}

.tier2 .sponsorlogo {
    max-height: 5rem;
}

.tier3 .sponsorlogo {
    max-height: 4rem;

}

.tier4 .sponsorlogo {
    max-height: 3.5rem;
}


@media (max-width: 700px) {
    .sponsors-box {
        width: 85%;
    }

    /* .tier2 .sponsorlogo {
        max-width: 90%
    }

    .tier3 .sponsorlogo {
        max-width: 80%
    }

    .tier4 .sponsorlogo{
        max-width: 80%
    } */
}


/* Timeline */

.timeline-flexbox {
    display: flex;
    justify-content: center;
    /* border: 2px solid blue; */
}

.timeline {
    display: flex;
    flex-direction: column;
    width: 95%;
    /* border: 3px solid green; */
    gap: 1rem;
    position: relative;
}

.timeline-item {
    display: flex;
    /* border: 2px solid red; */
    gap: 60px;
    position: relative;
    align-items: top;
}

.timeline-date {
    width: 200px;
    text-align: right;
    /* border: 2px solid orange; */
}

.timeline-text {
    width: 60%;
    /* border: 2px solid yellow; */
}

.timeline-line,
.timeline-line-dashed {
    position: absolute;
    left: 228px;
    transform: translate(-50%);
    width: 2.8px;
    height: 100%;
    /* dark purple */
    background-color: #352d58;
    z-index: 1;
}

.timeline-line-dashed {
    bottom: 0px;
    height: 20%;
    /* dark purple */
    background-color: white;
    border-style: dashed
}

.timeline-circle {
    position: absolute;
    left: 228px;
    transform: translate(-50%);
    margin-top: 4px;
    width: 14px;
    height: 14px;
    /* dark purple */
    background-color: white;
    border: solid 2.8px #352d58;
    border-radius: 50%;
    z-index: 2;
}

@media (max-width: 767px) {
    .timeline {
        gap: 1.5rem
    }

    .timeline-item {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem
    }

    .timeline-date {
        margin-left: 50px;
        text-align: left;
    }

    .timeline-text {
        margin-left: 50px;
        width: 85%
    }

    .timeline-line,
    .timeline-line-dashed {
        left: 23px;
        transform: translate(-50%);
    }

    .timeline-circle {
        left: 23px;
        transform: translate(-50%);
    }
}