/* FONTS */

@font-face {
    font-family: 'Sora';
    font-weight: 300;
    src: url("./fonts/sora/Sora-Light.ttf");
}

@font-face {
    font-family: 'Sora';
    font-weight: 400;
    src: url("./fonts/sora/Sora-Regular.ttf");
}

@font-face {
    font-family: 'Sora';
    font-weight: 600;
    src: url("./fonts/sora/Sora-SemiBold.ttf");
}

@font-face {
    font-family: 'Magistral';
    font-weight: 700;
    src: url("./fonts/magistral/Magistral-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Magistral';
    font-weight: 900;
    src: url("./fonts/magistral/Magistral-Black.otf") format("opentype");
}

/* BODY TEXT */
body {
    font-family: Open Sans, sans-serif;
    /*Fallback*/
}

body {
    font-family: Sora;
    color: #333333;
}

small {
    font-size: 0.55rem;
}

.copyright {
    font-size: 0.65rem;
    color: white;
    font-weight: lighter;
    align-items: center;
    margin-bottom: 25px;
}

/* Borders for testing */
.borderbox {
    border: 1px solid blue
}

/* Update bar */

.update-bar {
    background-color: #3B8C41;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-wrap: balance;
    align-items: center;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.update-bar p {
    margin: 0;
}

/* Headings */

p,
.btn,
li {
    font-size: 0.95rem;
    text-wrap: pretty;
}

.writtenbox h3 {
    margin-top: 0
}

li {
    margin-bottom: 0.25rem;

}

h1,
h2 {
    font-family: Magistral;
}

h1 {
    margin-top: min(12vh, 4rem);
    font-size: clamp(2rem, 5vw, 2.2rem);
    margin-bottom: 0.5rem;
    margin-left: -2px;
    margin-right: -2px;
    color: #352D58;
    text-wrap: pretty;
}

h2 {
    font-size: 1.8rem;
    margin-top: 4vh;
    margin-bottom: 0.5rem;
    margin-left: -1px;
    margin-right: -1px;
    color: #352D58;
    text-wrap: pretty;
}

h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.5rem;
    text-wrap: pretty;
    color: #352D58;
}

h4 {
    font-size: 1rem;
    color: red;
    font-family: Sora;
    font-weight: bold;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    text-wrap: balance;
    margin-top: 1.8em;
    margin-bottom: 0.8rem;
}

/* Images */
figure {
    margin-top: 1rem;
}

.minimargin {
    margin: 0.3rem
}

figcaption {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.carousel-item img {
    width: 100%;
    height: 21rem;
    object-fit: cover;
}

@media (max-width: 767px) {
    .carousel-item img {
        width: 95%;
        height: 21rem;
    }
}


/* Page header bars  */

.title-image-flexbox,
.header-image-flexbox {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-image-flexbox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* fill viewport minus navbar height */
height: calc(100vh - 60px - 40px); /* navbar + green banner */
    width: 100%;
    background-image: url('./assets/seedlings.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.white-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* border: 2px solid yellow; */
    background-color: rgba(0, 0, 0, 0.5);
}

.title-box-outer {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* height: calc(85vh); */
    height: max(36rem, 80vh);
    min-height: 30rem;
}

.title-logo {
    width: min(100%, 650px);
    padding-left: 3%;
    margin-top: -2%;
    /* border: solid red 2px */
}

.title-textbox {
    position: relative;
    /* border: 2px solid green; */
}

.header-textbox h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-wrap: balance;
    /* border: 1px solid blue; */
    margin: 0
}

/* Page headers */
.header-textbox {
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.header-image-flexbox {
    background-size: cover;
    min-height: auto;
    height: min(250px, 35vh);
}


@media (max-width:767px) {
    .header-textbox h1 {
        font-size: min(3rem, 10vw);
        /* border:1px solid red; */
    }
}

/* Flexboxes */

.centred-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Containers */

.container-sm {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px
}

.image-rounded {
    border-radius: 5px;
}

/* Flexbox */

.text-flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columns */
    column-gap: 40px;
}

/* Switch to 1 column when screen <= 800px */
@media (max-width: 1000px) {
    .text-flexbox {
        grid-template-columns: 1fr;
        /* single column */
    }

    .img-fluid {
        width: 100%;
        max-width:500px;
    }
}


/* button flexbox */

.stack-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Anchors */

a {
    text-decoration: none;
    /* dark purple */
    color: #272040;
}

a i {
    vertical-align: -2;
}

.bi {
    font-size: 24px;
}

/* Buttons */

.custom-btn,
.custom-btn-light {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}


.custom-btn {
    /* bright purple */
    background-color: #3F3669;
    color: white;
    border: none;
    font-weight: bold
}

.custom-btn:hover {
    /* dark purple */
    background-color: #272040;
    color: white;
}

.custom-btn-light {
    /* bright purple */
    border: 1px solid #3F3669;
    /* bright purple */
    color: #3F3669;
}

.custom-btn-light:hover {
    /* bright purple */
    background-color: #3F3669;
    /* bright purple */
    border: 1px solid #3F3669;
    color: white;
}

.custom-btn.register {
    background-color: #3B8C41;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    ;
    font-size: 25px;
}

.custom-btn.register:hover {
    background-color: #006A08;
}

.underline-text,
.underline-text-light,
.underline-btn,
.underline-btn-light {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 1.5px;
    text-decoration-thickness: 0.5px;
}

.underline-text {
    color: #3F3669;
    /* bright purple */
}

/* Hover on underline text / buttons should be thicker underline */
.underline-text:hover,
.underline-text-light:hover,
.underline-btn:hover,
.underline-btn-light:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
}

/* Light button/text should be light */
.underline-text-light,
.underline-btn-light {
    color: white;
}

.custom-title {
    font-family: Magistral;
    /* standard purple */
    color: #352D58;
    font-size: 1.2em;
    margin-top: 6.5em;
}

/* Navbar */
.navbar-custom {
    background-color: white;
}

.navbar-btn {
    background-color: #3B8C41;
    color: white;
    border: none;
    /* font-size: 0.9rem; */
    font-weight: bold;
    /* border: solid yellow 1.5pt; */
}

.navbar-btn:hover {
    background-color: #006A08;
    color: white
}

@media (max-width: 767px) {
    .navbar-btn {
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;
    }
}

.nav-link {
    /* dark purple */
    color: #272040;
    /* border: solid red 1pt; */

}

.navbar-custom .nav-link.active,
.navbar-custom .nav-link.active:hover {
    /* dark purple */
    color: #272040;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    text-align: right;
    flex-direction: column;
    margin-right: 1em;
    /* border: solid orange 1pt; */
}

.navbar-custom .nav-link:hover {
    color: #3B8C41;
}

.navbar-custom .navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: auto;
    /* border: solid blue 1pt; */
}

.background-image {
    background-size: cover;
    background-position: center;
}

.navbar-toggler-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath stroke='%23352D58' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /* transition: all 0.3s ease-in-out; */
    /* border: solid green 1pt; */

}

.navbar-toggler-custom.open .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath stroke='%23352D58' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M6 6L26 26M26 6L6 26'/%3E%3C/svg%3E");
}

/* Custom breakpoint: expand above 800px, collapse below 800px */
@media (min-width: 900px) {
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    /* Make the nav items horizontal, as in a standard expanded navbar */
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
        align-items: center;
    }

    /* Optional: spacing between links */
    .navbar-expand-custom .navbar-nav .nav-item {
        margin-left: 1rem;
    }
}

@media (max-width: 799.98px) {
    .navbar-expand-custom .navbar-collapse {
        display: none;
        /* collapsed */
    }

    .navbar-expand-custom .navbar-collapse.show {
        display: block;
    }

    /* On mobile keep column layout */
    .navbar-expand-custom .navbar-nav {
        flex-direction: column;
    }
}


/* Footer */
#page-container {
    position: relative;
    min-height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 3vh;
    margin-bottom: 6vh;
    flex-wrap: wrap;
    max-width: 80%;
}

@media(max-width:260px) {
    .icon-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.icon-travel {
    width: 30px;
    margin-right: 6px;
    margin-left: -3px
}

.icon-circle {
    max-width: 40px;
    height: auto;
}

.privacypolicy {
    text-align: center;
}

.custom-footer,
.custom-base {
    /* standard purple */
    background-color: #352D58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-footer {
    margin-top: 12vh;
}

.footer-heading {
    color: white;
    margin-top: 6vh
}

.footer-body {
    text-wrap: pretty;
    color: white;
}

/* CUT BELOW */

.socials-box-outer {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0px;
    /* border: 2px solid blue; */
}

.socials-box-item {
    height: 90%;
    width: 93px;
    text-align: center;
    /* border: 2px solid red; */
}

/* Profiles */
.profile-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.profile-box {
    display: flex;
    flex-flow: row wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    position: relative;
    justify-content: center;
    /* border: 2px solid orange; */
}

.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    /* border: 2px solid blue; */
}

.profile-image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
    /* border: 2px solid red; */
}

.profile-subtitle {
    text-align: center;
    font-size: 0.85rem;
    font-style: italic;
    text-wrap: balance;
    margin-bottom: 12px;
    /* border: 2px solid yellow; */
}

.profile-bio {
    font-size: 0.85rem;
    text-wrap: pretty;
    /* border: 2px solid red */
}

/* Keynote speaker specific settings*/
.keynote .profile-item {
    width: calc(50% - 10px);
}

.keynote-website {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 5px;
}

@media(max-width:690px) {
    .keynote .profile-box {
        width: 95%;
        row-gap: 2.5rem
    }

    .keynote .profile-item {
        width: 100%;
    }
}

/* Committee specific settings*/
.committee .profile-item {
    min-width: 250px;
    width: 32%;
}

.committee .profile-bio {
    text-align: center
}

@media(max-width:908px) {
    .committee .profile-item {
        width: 45%
    }
}

@media(max-width:600px) {
    .committee .profile-box {
        row-gap: 2.5rem;
    }

    .committee .profile-item {
        width: 90%;
    }
}

/* Sponsors box */

.rounded {
    border-radius: 10px
}

.sponsors-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 6vh;
    margin-top: 24px;
    margin-bottom: 50px;
    /* border: 2px solid black; */
}

.sponsors-box {
    display: flex;
    align-items: start;
    justify-content: center;
    column-gap: 6vw;
    row-gap: 5vw;
    width: 95%;
    /* border: 2px solid green; */
}

.sponsors-box-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.rounded {
    border-radius: 10px
}

.sponsorlogo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.tier0 .sponsorlogo {
    max-height: 10rem;
    width: 40rem;
}

.tier1 .sponsorlogo {
    max-height: 9.5rem;
    max-width: 90%;
}

.tier2 .sponsorlogo {
    max-height: 8rem;
}

.tier3 .sponsorlogo {
    max-height: 5rem;
}

.tier4 .sponsorlogo {
    max-height: 4rem;
}

.tier5 .sponsorlogo {
    max-height: 3.5rem;
}


@media (max-width: 500px) {

    .sponsors-box {
        flex-wrap: wrap;
        width: 90%;
        row-gap: 2.5rem
    }
}

/* Timeline */

.timeline-flexbox {
    display: flex;
    justify-content: center;
    /* border: 2px solid blue; */
}

.timeline {
    display: flex;
    flex-direction: column;
    width: 95%;
    /* border: 3px solid green; */
    gap: 1rem;
    position: relative;
}

.timeline-item {
    display: flex;
    /* border: 2px solid red; */
    gap: 60px;
    position: relative;
    align-items: top;
}

.timeline-date {
    width: 200px;
    text-align: right;
    /* border: 2px solid orange; */
}

.timeline-text {
    width: 60%;
    /* border: 2px solid yellow; */
}

.timeline-line,
.timeline-line-dashed {
    position: absolute;
    left: 228px;
    transform: translate(-50%);
    width: 2.8px;
    height: 100%;
    /* dark purple */
    background-color: #352d58;
    z-index: 1;
}

.timeline-line-dashed {
    bottom: 0px;
    height: 20%;
    /* dark purple */
    background-color: white;
    border-style: dashed
}

.timeline-circle {
    position: absolute;
    left: 228px;
    transform: translate(-50%);
    margin-top: 4px;
    width: 14px;
    height: 14px;
    /* dark purple */
    background-color: white;
    border: solid 2.8px #352d58;
    border-radius: 50%;
    z-index: 2;
}

@media (max-width: 767px) {
    .timeline {
        gap: 1.5rem
    }

    .timeline-item {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem
    }

    .timeline-date {
        margin-left: 50px;
        text-align: left;
    }

    .timeline-text {
        margin-left: 50px;
        width: 85%
    }

    .timeline-line,
    .timeline-line-dashed {
        left: 23px;
        transform: translate(-50%);
    }

    .timeline-circle {
        left: 23px;
        transform: translate(-50%);
    }
}

/* Table */
/* ===== DESKTOP TABLE VIEW ===== */


table {
    border-collapse: separate;
    border-spacing: 5px;
    min-width: 660px;
    width: 100%;
    table-layout: fixed;
    font-size: 0.8rem;
}

th,
td {
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;

}

th {
    color: #3E3666;
    font-size: 0.95rem;
}

.tablestyles {
    font-size: 0.8rem;
}

/* Color classes */

.presentation_session {
    background: #DDDBF3;
    font-weight: bold;
}

.poster_session {
    background: #DDDBF3;
    font-weight: bold;
}

.social_activity {
    background: #D4E2D2;
}

.white {
    font-style: italic;
}

.break {
    background: #f2f2f2;
    font-weight: bold;
}

.dotted {
    border: 2.5px dashed #DDDBF3;
    font-weight: bold;
}


/* ===== MOBILE STACKED VIEW ===== */
.mobile-program {
    display: none;
    justify-items: center;
    /* border: 2px solid red; */
    /* hidden by default */
}

col:first-child {
    width: 120px;
}

col:nth-child(2),
col:nth-child(3),
col:nth-child(4) {
    width: auto;
    /* remaining columns flexible */
}

.dropdown {
    margin-bottom: 1em;
    border-radius: 18px;
    width: 100%;
    overflow: hidden;
    border: solid 3px #DDDBF3;
    display: flex;
    flex-direction: column;

}

.dropdown summary {
    background: #DDDBF3;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    /* border: solid 3px blue; */
}

.tablebox {
    display: flex;
    justify-content: center;
    /* border: solid 2px orange */
}

.writtenbox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 15px 0 0 25px;
    /* top right bottom left */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35s ease;
    box-sizing: border-box;
    will-change: max-height;
}

.dropdown[open] .writtenbox {
    max-height: 1000px;
    /* adjust if your tallest box is bigger */
}


.dropdown table {
    min-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 350px;
    /* border: solid 2px green; */
}

.dropdown td {
    text-align: center;
}

/* ===== RESPONSIVE SWITCH ===== */
@media (max-width: 768px) {
    .program-wrapper {
        display: none;
    }

    .mobile-program {
        display: flex;
        flex-direction: column;
        ;
    }
}